n8n-workflows/workflow-8-auto-archive.json
{
  "name": "E-Signature - Auto Archive Signed Documents",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e-signature/document-signed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Document Signed",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "e-signature-document-signed"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature/internal/signature-requests/{{ $json.body.requestId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-request",
      "name": "HTTP - Get Request Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.data.status }}",
              "operation": "equals",
              "value2": "signed"
            }
          ]
        }
      },
      "id": "if-completed",
      "name": "IF - All Signed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/archive-document",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"documentId\": \"{{ $json.data.document.id }}\",\n  \"requestId\": \"{{ $json.data.id }}\"\n}",
        "options": {}
      },
      "id": "http-archive",
      "name": "HTTP - Archive Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/generate-certificate",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"requestId\": \"{{ $('Webhook - Document Signed').item.json.body.requestId }}\"\n}",
        "options": {}
      },
      "id": "http-certificate",
      "name": "HTTP - Generate Certificate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $('HTTP - Get Request Details').item.json.data.creator?.email || '' }}",
        "subject": "Document Signed & Archived: {{ $('HTTP - Get Request Details').item.json.data.document.title }}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #10B981; color: white; padding: 20px; text-align: center; }\n    .content { padding: 20px; background: #f9fafb; }\n    .button { display: inline-block; background: #4F46E5; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; margin-top: 20px; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>✅ Document Completed</h1>\n    </div>\n    <div class=\"content\">\n      <p>Great news! Your document has been signed by all signers and archived.</p>\n      <p><strong>Document:</strong> {{ $('HTTP - Get Request Details').item.json.data.document.title }}</p>\n      <p><strong>Completed at:</strong> {{ new Date().toLocaleString() }}</p>\n      <p>A Certificate of Completion has been generated for your records.</p>\n      <a href=\"{{ $env.FRONTEND_URL }}/requests/{{ $('Webhook - Document Signed').item.json.body.requestId }}\" class=\"button\">View Details</a>\n    </div>\n    <div class=\"footer\">\n      <p>This is an automated message from DocsOps E-Signature System</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-complete-email",
      "name": "Send Completion Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1350, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials-id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Document archived and certificate generated' }) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Request not fully signed yet' }) }}",
        "options": {}
      },
      "id": "respond-pending",
      "name": "Respond - Not Complete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Webhook - Document Signed": {
      "main": [
        [
          {
            "node": "HTTP - Get Request Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Request Details": {
      "main": [
        [
          {
            "node": "IF - All Signed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - All Signed": {
      "main": [
        [
          {
            "node": "HTTP - Archive Document",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Not Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Archive Document": {
      "main": [
        [
          {
            "node": "HTTP - Generate Certificate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Generate Certificate": {
      "main": [
        [
          {
            "node": "Send Completion Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Completion Email": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "e-signature"
    },
    {
      "name": "archive"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-07T00:00:00.000Z",
  "versionId": "1"
}
