n8n-workflows/workflow-14-watermark.json
{
  "name": "E-Signature - Watermark Management",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e-signature/update-watermark",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Update Watermark",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "e-signature-update-watermark"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/documents/{{ $json.body.documentId }}/watermark",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.body.text || '' }}\",\n  \"type\": \"{{ $json.body.type || 'pending' }}\"\n}",
        "options": {}
      },
      "id": "http-watermark",
      "name": "HTTP - Apply Watermark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-success",
      "name": "IF - Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/audit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventType\": \"WATERMARK_UPDATED\",\n  \"documentId\": \"{{ $('Webhook - Update Watermark').item.json.body.documentId }}\",\n  \"details\": {\n    \"type\": \"{{ $('Webhook - Update Watermark').item.json.body.type }}\",\n    \"updated_at\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {}
      },
      "id": "log-audit",
      "name": "HTTP - Log Audit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, documentId: $('Webhook - Update Watermark').item.json.body.documentId, watermarkType: $('Webhook - Update Watermark').item.json.body.type }) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Failed to apply watermark' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Webhook - Update Watermark": {
      "main": [
        [
          {
            "node": "HTTP - Apply Watermark",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Apply Watermark": {
      "main": [
        [
          {
            "node": "IF - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Success": {
      "main": [
        [
          {
            "node": "HTTP - Log Audit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Log Audit": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "e-signature"
    },
    {
      "name": "pdf"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-07T00:00:00.000Z",
  "versionId": "1"
}
