n8n-workflows/workflow-10-smart-reminder.json
{
  "name": "E-Signature - Smart Reminder System (3-Level)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9,14 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron - 9AM and 2PM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature/internal/pending-signers?days=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-pending",
      "name": "HTTP - Get Pending Signers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ],
          "number": [
            {
              "value1": "={{ $json.data.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "if-has-pending",
      "name": "IF - Has Pending",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-signers",
      "name": "Split Signers",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/reminder-status/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-reminder-status",
      "name": "HTTP - Get Reminder Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "jsCode": "// Calculate which reminder level to send based on time and current level\nconst signerData = $('Split Signers').item.json;\nconst reminderData = $input.item.json.data;\nconst requestCreatedAt = new Date(signerData.request?.created_at);\nconst now = new Date();\nconst hoursSinceCreation = (now - requestCreatedAt) / (1000 * 60 * 60);\n\nlet sendLevel = null;\nlet reminderType = null;\n\nif (reminderData.currentLevel === 0 && hoursSinceCreation >= 24) {\n  sendLevel = 1;\n  reminderType = 'FIRST_REMINDER';\n} else if (reminderData.currentLevel === 1 && hoursSinceCreation >= 48) {\n  sendLevel = 2;\n  reminderType = 'SECOND_REMINDER';\n} else if (reminderData.currentLevel === 2 && hoursSinceCreation >= 72) {\n  sendLevel = 3;\n  reminderType = 'ESCALATION';\n}\n\nreturn {\n  signerId: signerData.id,\n  signerEmail: signerData.signer_email,\n  signerName: signerData.signer_name,\n  currentLevel: reminderData.currentLevel,\n  sendLevel,\n  reminderType,\n  requestId: signerData.request?.id,\n  documentTitle: signerData.request?.document?.title,\n  creatorEmail: signerData.request?.creator?.email,\n  hoursSinceCreation: Math.round(hoursSinceCreation)\n};"
      },
      "id": "code-calculate",
      "name": "Code - Calculate Reminder Level",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.sendLevel }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "if-should-send",
      "name": "IF - Should Send Reminder",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.sendLevel }}",
              "operation": "equals",
              "value2": 3
            }
          ]
        }
      },
      "id": "if-escalation",
      "name": "IF - Is Escalation",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1790, 100]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.signerEmail }}",
        "subject": "{{ $json.sendLevel === 1 ? 'Reminder' : 'Urgent Reminder' }}: Please sign {{ $json.documentTitle }}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: {{ $json.sendLevel === 1 ? '#F59E0B' : '#DC2626' }}; color: white; padding: 20px; text-align: center; }\n    .content { padding: 20px; background: #f9fafb; }\n    .button { display: inline-block; background: #4F46E5; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; margin-top: 20px; }\n    .warning { background: #FEF3C7; border-left: 4px solid #F59E0B; padding: 12px; margin: 20px 0; }\n    .urgent { background: #FEE2E2; border-left: 4px solid #DC2626; padding: 12px; margin: 20px 0; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>{{ $json.sendLevel === 1 ? '⏰ Signature Reminder' : '🚨 Urgent: Action Required' }}</h1>\n    </div>\n    <div class=\"content\">\n      <p>Hello {{ $json.signerName || $json.signerEmail }},</p>\n      <div class=\"{{ $json.sendLevel === 1 ? 'warning' : 'urgent' }}\">\n        <strong>{{ $json.sendLevel === 1 ? 'Reminder #1' : 'Final Reminder' }}:</strong> You have a document waiting for your signature for {{ $json.hoursSinceCreation }} hours.\n      </div>\n      <p><strong>Document:</strong> {{ $json.documentTitle }}</p>\n      <p>Please click the button below to sign:</p>\n      <a href=\"{{ $env.FRONTEND_URL }}/sign?requestId={{ $json.requestId }}&signerId={{ $json.signerId }}\" class=\"button\">Sign Now</a>\n    </div>\n    <div class=\"footer\">\n      <p>Reminder {{ $json.sendLevel }} of 3 from DocsOps E-Signature System</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-reminder",
      "name": "Send Reminder Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2010, 50],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials-id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.creatorEmail }}",
        "subject": "⚠️ Escalation: Signer {{ $json.signerName || $json.signerEmail }} has not signed",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #7C3AED; color: white; padding: 20px; text-align: center; }\n    .content { padding: 20px; background: #f9fafb; }\n    .button { display: inline-block; background: #4F46E5; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; margin-top: 20px; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>📋 Escalation Notice</h1>\n    </div>\n    <div class=\"content\">\n      <p>This is an escalation notice for your signature request.</p>\n      <p><strong>Document:</strong> {{ $json.documentTitle }}</p>\n      <p><strong>Pending Signer:</strong> {{ $json.signerName || $json.signerEmail }}</p>\n      <p><strong>Waiting:</strong> {{ $json.hoursSinceCreation }} hours</p>\n      <p>We have sent 2 reminders but have not received a response. You may want to contact the signer directly.</p>\n      <a href=\"{{ $env.FRONTEND_URL }}/requests/{{ $json.requestId }}\" class=\"button\">View Request</a>\n    </div>\n    <div class=\"footer\">\n      <p>DocsOps E-Signature System</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-escalation",
      "name": "Send Escalation to Creator",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2010, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials-id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/record-reminder",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"signerId\": \"{{ $('Code - Calculate Reminder Level').item.json.signerId }}\",\n  \"level\": {{ $('Code - Calculate Reminder Level').item.json.sendLevel }}\n}",
        "options": {}
      },
      "id": "http-record",
      "name": "HTTP - Record Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2230, 100]
    },
    {
      "parameters": {},
      "id": "no-op-done",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2450, 100]
    },
    {
      "parameters": {},
      "id": "no-op-skip",
      "name": "Skip - No Reminder Needed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1790, 300]
    },
    {
      "parameters": {},
      "id": "no-op-none",
      "name": "No Pending Signers",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Cron - 9AM and 2PM": {
      "main": [
        [
          {
            "node": "HTTP - Get Pending Signers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Pending Signers": {
      "main": [
        [
          {
            "node": "IF - Has Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Pending": {
      "main": [
        [
          {
            "node": "Split Signers",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Pending Signers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Signers": {
      "main": [
        [
          {
            "node": "HTTP - Get Reminder Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Reminder Status": {
      "main": [
        [
          {
            "node": "Code - Calculate Reminder Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Calculate Reminder Level": {
      "main": [
        [
          {
            "node": "IF - Should Send Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Should Send Reminder": {
      "main": [
        [
          {
            "node": "IF - Is Escalation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - No Reminder Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Is Escalation": {
      "main": [
        [
          {
            "node": "Send Escalation to Creator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Reminder Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reminder Email": {
      "main": [
        [
          {
            "node": "HTTP - Record Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Escalation to Creator": {
      "main": [
        [
          {
            "node": "HTTP - Record Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Record Reminder": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "e-signature"
    },
    {
      "name": "reminder"
    },
    {
      "name": "cron"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-07T00:00:00.000Z",
  "versionId": "1"
}
