n8n-workflows/workflow-4-document-processing.json
{
  "name": "E-Signature - Document Upload Processing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e-signature/document-uploaded",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Document Uploaded",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "e-signature-document-uploaded"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/process-document",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"documentId\": \"{{ $json.body.documentId }}\"\n}",
        "options": {}
      },
      "id": "http-process",
      "name": "HTTP - Process Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-success",
      "name": "IF - Process Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/audit",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventType\": \"DOCUMENT_PROCESSED\",\n  \"documentId\": \"{{ $('Webhook - Document Uploaded').item.json.body.documentId }}\",\n  \"details\": {\n    \"metadata\": {{ JSON.stringify($json.data.metadata) }},\n    \"processed_at\": \"{{ new Date().toISOString() }}\"\n  }\n}",
        "options": {}
      },
      "id": "log-audit",
      "name": "HTTP - Log Audit Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Document processed', documentId: $('Webhook - Document Uploaded').item.json.body.documentId, metadata: $('HTTP - Process Document').item.json.data.metadata }) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Failed to process document' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Webhook - Document Uploaded": {
      "main": [
        [
          {
            "node": "HTTP - Process Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Process Document": {
      "main": [
        [
          {
            "node": "IF - Process Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Process Success": {
      "main": [
        [
          {
            "node": "HTTP - Log Audit Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Log Audit Event": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "e-signature"
    },
    {
      "name": "document"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-07T00:00:00.000Z",
  "versionId": "1"
}
