n8n-workflows/workflow-7-generate-pdf.json
{
  "name": "E-Signature - Generate PDF Before Signing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e-signature/prepare-pdf",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Prepare PDF",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "e-signature-prepare-pdf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/process-document",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"documentId\": \"{{ $json.body.documentId }}\"\n}",
        "options": {}
      },
      "id": "http-process",
      "name": "HTTP - Process Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-success",
      "name": "IF - Process Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/documents/{{ $('Webhook - Prepare PDF').item.json.body.documentId }}/watermark",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"PENDING SIGNATURE\",\n  \"type\": \"pending\"\n}",
        "options": {}
      },
      "id": "http-watermark",
      "name": "HTTP - Add Pending Watermark",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'PDF prepared for signing', documentId: $('Webhook - Prepare PDF').item.json.body.documentId, metadata: $('HTTP - Process Document').item.json.data.metadata }) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Failed to prepare PDF' }) }}",
        "options": {
          "responseCode": 500
        }
      },
      "id": "respond-error",
      "name": "Respond - Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Webhook - Prepare PDF": {
      "main": [
        [
          {
            "node": "HTTP - Process Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Process Document": {
      "main": [
        [
          {
            "node": "IF - Process Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Process Success": {
      "main": [
        [
          {
            "node": "HTTP - Add Pending Watermark",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Add Pending Watermark": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "e-signature"
    },
    {
      "name": "pdf"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-07T00:00:00.000Z",
  "versionId": "1"
}
