n8n-workflows/workflow-9-multi-notifications.json
{
  "name": "E-Signature - Multi-Channel Notifications",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e-signature/send-notification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Send Notification",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "e-signature-send-notification"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/notifications",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipientEmail\": \"{{ $json.body.recipientEmail }}\",\n  \"channel\": \"{{ $json.body.channel || 'email' }}\",\n  \"eventType\": \"{{ $json.body.eventType }}\",\n  \"subject\": \"{{ $json.body.subject }}\",\n  \"content\": \"{{ $json.body.content }}\",\n  \"metadata\": {{ JSON.stringify($json.body.metadata || {}) }}\n}",
        "options": {}
      },
      "id": "http-create-notification",
      "name": "HTTP - Create Notification Record",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook - Send Notification').item.json.body.channel }}",
              "operation": "equals",
              "value2": "email"
            }
          ]
        }
      },
      "id": "switch-channel",
      "name": "Switch - Channel Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [690, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $('Webhook - Send Notification').item.json.body.channel }}",
                    "operation": "equals",
                    "value2": "email"
                  }
                ]
              },
              "outputIndex": 0
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $('Webhook - Send Notification').item.json.body.channel }}",
                    "operation": "equals",
                    "value2": "slack"
                  }
                ]
              },
              "outputIndex": 1
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $('Webhook - Send Notification').item.json.body.channel }}",
                    "operation": "equals",
                    "value2": "telegram"
                  }
                ]
              },
              "outputIndex": 2
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $('Webhook - Send Notification').item.json.body.channel }}",
                    "operation": "equals",
                    "value2": "webhook"
                  }
                ]
              },
              "outputIndex": 3
            }
          ]
        },
        "fallbackOutput": "none"
      }
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $('Webhook - Send Notification').item.json.body.recipientEmail }}",
        "subject": "={{ $('Webhook - Send Notification').item.json.body.subject }}",
        "emailFormat": "html",
        "html": "={{ $('Webhook - Send Notification').item.json.body.content }}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [910, 100],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials-id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $('Webhook - Send Notification').item.json.body.subject }}\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*{{ $('Webhook - Send Notification').item.json.body.eventType }}*\\n{{ $('Webhook - Send Notification').item.json.body.content }}\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "send-slack",
      "name": "Send Slack",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 250]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.TELEGRAM_CHAT_ID }}\",\n  \"text\": \"{{ $('Webhook - Send Notification').item.json.body.subject }}\\n\\n{{ $('Webhook - Send Notification').item.json.body.content }}\",\n  \"parse_mode\": \"HTML\"\n}",
        "options": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook - Send Notification').item.json.body.metadata.webhookUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($('Webhook - Send Notification').item.json.body) }}",
        "options": {}
      },
      "id": "send-webhook",
      "name": "Send Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 550]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/notifications/{{ $('HTTP - Create Notification Record').item.json.data.id }}/status",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"sent\"\n}",
        "options": {}
      },
      "id": "http-update-status",
      "name": "HTTP - Mark as Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, notificationId: $('HTTP - Create Notification Record').item.json.data.id, channel: $('Webhook - Send Notification').item.json.body.channel }) }}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "Webhook - Send Notification": {
      "main": [
        [
          {
            "node": "HTTP - Create Notification Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Create Notification Record": {
      "main": [
        [
          {
            "node": "Switch - Channel Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Channel Type": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "HTTP - Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack": {
      "main": [
        [
          {
            "node": "HTTP - Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Telegram": {
      "main": [
        [
          {
            "node": "HTTP - Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Webhook": {
      "main": [
        [
          {
            "node": "HTTP - Mark as Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Mark as Sent": {
      "main": [
        [
          {
            "node": "Respond - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "e-signature"
    },
    {
      "name": "notifications"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-07T00:00:00.000Z",
  "versionId": "1"
}
