n8n-workflows/workflow-5-auto-expire.json
{
  "name": "E-Signature - Auto Expire Requests",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 * * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron - Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/expiring-requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-get-expiring",
      "name": "HTTP - Get Expiring Requests",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ],
          "number": [
            {
              "value1": "={{ $json.data.length }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        },
        "combineOperation": "all"
      },
      "id": "if-has-expired",
      "name": "IF - Has Expired Requests",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL }}/api/v1/e-signature-ext/internal/expire-requests",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "id": "http-expire",
      "name": "HTTP - Mark Expired",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 200]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "split-requests",
      "name": "Split Expired Requests",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.SMTP_FROM_EMAIL }}",
        "toEmail": "={{ $json.signers[0]?.signer_email }}",
        "subject": "Signature Request Expired: {{ $json.document?.title || 'Document' }}",
        "emailFormat": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #DC2626; color: white; padding: 20px; text-align: center; }\n    .content { padding: 20px; background: #f9fafb; }\n    .footer { text-align: center; padding: 20px; color: #666; font-size: 12px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1>Signature Request Expired</h1>\n    </div>\n    <div class=\"content\">\n      <p>The following signature request has expired:</p>\n      <p><strong>Document:</strong> {{ $json.document?.title || 'Unknown' }}</p>\n      <p><strong>Expired at:</strong> {{ $json.expires_at }}</p>\n      <p>Please contact the requester if you still need to sign this document.</p>\n    </div>\n    <div class=\"footer\">\n      <p>This is an automated message from DocsOps E-Signature System</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-expiry-email",
      "name": "Send Expiration Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1350, 200],
      "credentials": {
        "smtp": {
          "id": "smtp-credentials-id",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-op-done",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1570, 200]
    },
    {
      "parameters": {},
      "id": "no-op-none",
      "name": "No Expired Requests",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [910, 400]
    }
  ],
  "connections": {
    "Cron - Every 15 Minutes": {
      "main": [
        [
          {
            "node": "HTTP - Get Expiring Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Get Expiring Requests": {
      "main": [
        [
          {
            "node": "IF - Has Expired Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Expired Requests": {
      "main": [
        [
          {
            "node": "HTTP - Mark Expired",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Expired Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - Mark Expired": {
      "main": [
        [
          {
            "node": "Split Expired Requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Expired Requests": {
      "main": [
        [
          {
            "node": "Send Expiration Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Expiration Email": {
      "main": [
        [
          {
            "node": "Done",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "e-signature"
    },
    {
      "name": "cron"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-12-07T00:00:00.000Z",
  "versionId": "1"
}
